db/*.sqlite3
log/*.log
tmp/**/*
*.tmproj

# Generate your own
doc/*

# Can bundle your own gems
bin/*
vendor/gems/*
!vendor/gems/cache/

# Hacker
config/database.yml
config/synch_s3_asset_host.yml

# Get your own ;)
config/s3.yml