- title "Work"

%ul#sorting.clearfix
  %li= link_to 'All', '#', :rel => 'all'
  - Skill.order('title ASC').each do |skill|
    - unless skill.item_ids.empty?
      %li= link_to skill.title, '#', :rel => skill.slug
#listing.clearfix
  = render :partial => 'works/item', :collection => @items