@import "reset.css";

/**
  * What I Do
  */
#what_i_do {
	background: #2f2f2f url('../images/what_i_do/background.gif') repeat-x top;
	height: 4.6em;
	border-bottom: 1px solid #6d6d6d;
}
#what_i_do .wrapper {
	padding: 1.25em 0;
}
#what_i_do h2 {
	font: bold 1.08em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}
#what_i_do p {
	float: right;
}
#what_i_do a,
#what_i_do span {
	text-decoration: none;
	font: bold 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ddd;
	text-transform: uppercase;
	margin: 0 0 0 1.66em;
}

/**
  * Wrapper
  */
.wrapper {
	width: 68.75em;
	margin: 0 auto;
	font: 1.2em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
  * Content
  */
#content {
	background: url('../images/content/background.gif') repeat-x top;
	padding: 1.08em 0 0;
}
#content .wrapper {
	background: url('../images/content/wrap.gif') repeat-x top;
	width: 67.1em;
	padding: 0.833em;
}
#content .container {
	background: #fff;
}
#portfolio {
	background: url('../images/content/logo_bg.gif') repeat-y 20.7em 0;
	border-bottom: 1px solid #fff;
}
#about_me {
	width: 18.4em;
	float: left;
	padding: 2.1em;
}
#about_me h1 {
	padding: 0 0 0.6em;
	border-bottom: 1px solid #eee;
	width: 205px;
	margin: 0 0 0.6em;
}
#about_me h1 a {
  background: url('../images/content/logo.gif') no-repeat;
  width: 205px; height: 20px;
  display: block;
  font-size: 0.1em;
  text-indent: -9999em;
}
#about_me p {
	padding: .75em 0;
	font: 1.15em "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#about_me a {
	text-decoration: underline;
	color: #333;
	font-weight: bold;
}
#about_me a:hover {
	text-decoration: none;
	color: #333;
}
#about_me ul {
  padding: 5px 0 0.6em;
}
#about_me li {
  float: left;
  margin: 0 8px 0 0;
}
#about_me li a {
  background: #eee;
  text-decoration: none;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ddd;
}
#about_me li a:hover {
  border: 1px solid #eee;
}
#work {
	width: 44.5em;
	float: left;
}
#faq {
	background: url('../images/content/column_bg.gif') repeat-x top;
	border-top: 1px solid #d6d6d6;
}
#faq .answer {
	width: 18.3em;
	padding: 1.25em 2em;
	float: left;
}
.f_b {
	background: url('../images/content/column_border.gif') no-repeat top left;
}
#faq .answer h2 {
	font-size: 1em;
}
#faq .answer p {
	padding: 0.25em 0;
}
#faq .answer em {
	font-size: 1.1em;
	font-family: Georgia, serif;
}
.whatido {
	background: red;
	width: 25em;
	color: #fff;
	font-size: 1.15em;
	z-index: 10000;
	position: absolute;
}
#footer {
	font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
	padding: 1.5em 0;
}
#footer p {
	float: right;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	border-bottom: 0.1em solid #6c6c6c;
}
#footer a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	border-bottom: 0.1em solid #888;
}

/* Admin */
.meta {
  background: url('../images/admin/meta.gif') repeat-x top;
  border-bottom: 1px solid #eee;
}
.works .meta {
  background-image: none;
}
.meta h2 {
  padding: 15px;
}
.meta #navigation {
  float: right;
}
.meta li {
  float: left;
}
.meta li a {
  background: url('../images/admin/arrow_inactive.gif') no-repeat bottom center;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.meta li a:hover,
.meta li.active a {
  background-image: url('../images/admin/arrow_active.gif');
}
#images {}
#images li {
  margin: 15px 5px 15px 0;
  float: left;
}
#images li img,
.item_overview li img {
  background: #fff;
  cursor: move;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ddd;
}
.body {
  padding: 15px;
}
form dd {
  font-weight: bold;
}
form dt {
  padding: 0 0 15px;
}
dt input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}
dt textarea {
  width: 500px;
  padding: 5px;
  font-size: 11px;
}
.contact dt input,
.contact dt textarea {
  width: 490px;
}
.body .item_overview {
  background: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 0 15px;
}
.item_overview h2 {
  font-size: 13px;
}
.item_overview p {
  padding: 5px 0 ;
}
.item_overview li {
  float: left;
  margin: 0 10px 0 0;
}
.item_overview li img {
  cursor: default;
}
#work .post {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.post h2 {
  padding: 0 0 2px;
}
#work .post h2 a {
  text-decoration: none;
  font-size: 19px;
}
.post h3,
.answer h2 small {
  font-size: 11px;
  color: #aaa;
  text-transform: uppercase;
}
.answer h2 small {
  float: right;
}
#work .post p {
  padding: 10px 0;
  font-size: 14px;
}

/* WOWOW */
.welcome #work a {
  float: left;
  position: relative;
  width: 178px; height: 114px;
}
#work a strong,
.works .item strong {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  width: 173px;
  padding: 5px;
  
  display: block;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #222;
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  border: 1px solid #000;
}
#work a:active strong,
.works .item a:active strong {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7))) !important;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) !important;
}
.works .item a:hover strong {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9))) !important;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)) !important;
}
.works .item a strong {
  margin: 5px 0 0;
  width: 173px;
}
.welcome #work a strong {
  position: absolute;
  width: 148px;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0 2px 3px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0 2px 3px;
}

.body form .skills {
  float: right;
  width: 200px;
}
.skills label {
  display: block;
}
.skills h2 {
  padding: 0 0 10px;
}
.works .meta {
  padding: 15px;
}
.works .meta h2 {
  font-size: 28px;
  line-height: 39px;
}
.works .meta p,
.works .meta h2 {
  padding: 0;
}
.works .skills {
  padding: 10px 0;
}
.works .skills .skill {
  float: left;
  background: #000;
  color: #fff;
  font-size: 10px;
  padding: 1px 4px; margin: 0 5px 0 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
#work #thumbs {
  list-style: none;
}
#work #thumbs li {
  float: left;
  width: 75px; height: 75px;
  margin: 0 1px 1px 0;
}
#thumbs li.view a {
  text-decoration: none;
  background: #eee url('../images/content/visit_site.gif') no-repeat;
  display: block;
  width: 75px; height: 75px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
#featured {
  width: 535px; height: 332px;
  overflow: hidden;
}
#featured img {
}
.works #listing {
  padding: 40px 0 0 60px;
}
.works #listing .item {
  float: left;
  width: 178px;
  padding: 0 50px 40px 0;
}
#listing a img {
  padding: 2px;
  border: 1px solid #ddd;
}

/* Agency */
.meta .agency {
  float: right;
  display: block;
  text-indent: -9999em;
  font-size: 0.1em;
  margin: 13px 5px 0 0;
}
.meta .agency_bkwld {
  background: url('../images/agencies/bkwld.png') no-repeat;
  width: 100px; height: 22px;
}
.meta .agency_jeff-doe-design {
  background: url('../images/agencies/jeffdoe.png') no-repeat;
  width: 93px; height: 15px;
}
.meta .agency_31three {
  background: url('../images/agencies/31three.png') no-repeat;
  width: 101px; height: 15px;
}
.post .body {
  padding: 0;
}

/* About */
body.about #work {
  background: url('../images/content/about.jpg') no-repeat bottom right;
  
  height: auto !important;
  min-height: 500px;
  height: 500px;
}
body.about #work {
  position: relative;
}
body.about .body {
  font-size: 16px;
  padding: 13px 25px 20px;
}
body.about .body p {
  padding: 7px 0;
  line-height: 26px;
}

a.bkwld,
a.github,
a.gowalla,
a.twitter,
a.jquery {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
a.github {
  color: #eea025;
}
a.gowalla {
  color: #435522;
}
a.lastfm {
  color: #ee3425;
}
a.jquery {
  color: #4082ae;
}
#dewskis {
  position: absolute;
  background: #fff;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow: hidden;
}

/* Sorting */
#sorting {
   background: url('../images/admin/meta.gif') repeat-x top;
   font-size: 11px;
}
#sorting li {
  float: left;
}
#sorting li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #666;
}
#sorting a:hover,
#sorting a.active {
  background: url('../images/admin/meta_hover.gif') repeat-x top;
  color: #000;
}
#sorting a.active {
  font-weight: bold;
}

.post ul, .post ol {
  padding: 10px 0 10px 30px;
}
.post ul li {
  list-style-type: disc;
}
.post ol li {
  list-style-type: decimal;
}
.post li {
  padding: 4px 0;
  font-size: 13px;
}