body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
img { border: 0; }
a img { border: 0; }
ol, ul { list-style: none; }
q:before { content: ''; }
q:after { content: ''; }
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
pre, code {
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  margin: 0;
  padding: 0;
}
pre {
  background: #efefef;
  margin: 5px 0;
  padding: 5px;
}
body {
  background: #444444 url('../images/content/background.gif') repeat-x top;
  font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin: 0;
  padding: 10px 0 0;
}
a {
  color: #333333;
  outline: none;
}
span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal;
  font-size: 1.2em;
}
form dd { font-weight: bold; }
form dt { padding: 0 0 15px; }
dt input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}
dt textarea {
  width: 500px;
  padding: 5px;
  font-size: 11px;
}
#wrapper {
  background: url('../images/content/wrap.gif') repeat-x top;
  width: 805px;
  margin: 0 auto;
  padding: 10px;
}
#wrapper #container { background: #ffffff; }
#wrapper #container #main {
  background: url('../images/content/logo_bg.gif') repeat-y 249px 0;
  border-bottom: 1px solid #ffffff;
}
#header {
  padding: 25px;
  overflow: hidden;
}
#header h1 {
  float: left;
  width: 205px;
}
#header h1 a {
  background: url('../images/content/logo.gif') no-repeat;
  width: 205px;
  height: 20px;
  display: block;
  font-size: 0.1em;
  text-indent: -9999em;
}
#header #links { display: none; }
#header #navigation {
  margin: 0;
  padding: 0;
  border: 0;
  float: right;
}
#header #navigation li { margin: 0 0 0 8px; }
#left {
  width: 221px;
  float: left;
  padding: 25px;
}
#left h1 {
  padding: 0 0 14px;
  width: 205px;
}
#left h1 a {
  background: url('../images/content/logo.gif') no-repeat;
  width: 205px;
  height: 20px;
  display: block;
  font-size: 0.1em;
  text-indent: -9999em;
}
#left a {
  text-decoration: underline;
  color: #333333;
  font-weight: bold;
}
#left a:hover {
  text-decoration: none;
  color: #333333;
}
#navigation {
  margin: 0.5em 0 1.75em;
  padding: 1.25em 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
#navigation li {
  float: left;
  margin: 0 8px 0 0;
}
#navigation a {
  background: #eeeeee;
  border: 1px solid #dddddd;
  text-decoration: none;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#navigation a:hover { border-color: #eeeeee; }
#right {
  width: 534px;
  float: left;
}
#right .post {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}
#right .post .comment_count {
  float: right;
  font-weight: bold;
  font-size: 11px;
  margin: 11px 0 0;
}
#right .post .comment_count a {
  text-decoration: none;
  background: url('../images/content/comment_normal.gif') no-repeat top right;
  padding: 11px 17px 0 0;
  color: #999999;
}
#right .post .comment_count a:hover {
  background: url('../images/content/comment_hover.gif') no-repeat top right;
  color: #111111;
}
#right .post h2 {
  padding: 0 0 2px;
  font-size: 19px;
}
#right .post h2 a { text-decoration: none; }
#right .post h2 a:hover { text-decoration: underline; }
#right .post h3 {
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase;
}
#right .post p {
  padding: 10px 0;
  font-size: 13px;
  line-height: 21px;
}
#right .post ul { padding: 10px 0 10px 30px; }
#right .post ol { padding: 10px 0 10px 30px; }
#right .post li {
  font-size: 13px;
  padding: 4px 0;
}
#right .post ul li { list-style-type: disc; }
#right .post ol li { list-style-type: decimal; }
#right .post .body { padding: 0; }
#right .post:last-child { border-bottom: 0; }
#right #thumbs { list-style: none; }
#right #thumbs li {
  float: left;
  width: 75px;
  height: 75px;
  margin: 0 1px 1px 0;
}
#right #thumbs li.view a {
  text-decoration: none;
  background: #eeeeee url('../images/content/visit_site.gif') no-repeat;
  display: block;
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
#comment_wrapper h1 {
  padding: 15px 20px 15px;
  border-bottom: 1px solid #eeeeee;
}
#comment_wrapper #comments li {
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}
#comment_wrapper #comments li .avatar {
  width: 50px;
  float: left;
  margin: 0 20px 0 0;
}
#comment_wrapper #comments li .content {
  float: left;
  width: 415px;
}
#comment_wrapper #comments li .content .title h3 { font-size: 14px; }
#comment_wrapper #comments li .content .title small {
  font-size: 11px;
  color: #999999;
}
#comment_wrapper #comment_form {
  border-top: 1px solid #ffffff;
  background: #efefef;
  padding: 20px;
}
#comment_wrapper #comment_form h3 { font-size: 18px; }
#comment_wrapper #comment_form form { padding: 20px 0 0; }
#comment_wrapper #comment_form form label {
  font-weight: bold;
  display: block;
  margin: 0 0 1px;
}
#comment_wrapper #comment_form form input[type='text'] {
  width: 400px;
  padding: 2px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
#comment_wrapper #comment_form form textarea {
  width: 400px;
  padding: 2px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}
#comment_wrapper #comment_form form p { padding: 0 0 10px; }
#faq {
  background: url('../images/content/column_bg.gif') repeat-x top;
  border-top: 1px solid #d6d6d6;
}
#faq .answer {
  width: 220px;
  padding: 15px 23px 15px 27px;
  float: left;
}
#faq .answer h2 { font-size: 13px; }
#faq .answer h2 small {
  font-size: 11px;
  color: #aaaaaa;
  text-transform: uppercase;
  float: right;
}
#faq .answer p { padding: 3px 0; }
#faq .f_b {
  background: url('../images/content/column_border.gif') no-repeat top left;
  padding: 15px 23px;
}
#footer {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888888;
  padding: 15px 0;
}
#footer p { float: right; }
#footer a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #6c6c6c;
}
#footer a:hover { border-bottom-color: #888888; }
.meta {
  background: url('../images/admin/meta.gif') repeat-x top;
  border-bottom: 1px solid #eeeeee;
}
.meta h2 { padding: 15px; }
.meta #navigation { float: right; }
.meta li { float: left; }
.meta li a {
  background: url('../images/admin/arrow_inactive.gif') no-repeat bottom center;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.meta li a:hover { background-image: url('../images/admin/arrow_active.gif'); }
.meta li.active a { background-image: url('../images/admin/arrow_active.gif'); }
#images li {
  margin: 15px 5px 15px 0;
  float: left;
}
#images li img {
  background: #ffffff;
  cursor: move;
  padding: 2px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.item_overview li img {
  background: #ffffff;
  cursor: move;
  padding: 2px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.body { padding: 15px; }
.body .item_overview {
  background: #eeeeee;
  border: 1px solid #dddddd;
  margin: 0 0 15px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.body .item_overview h2 { font-size: 13px; }
.body .item_overview p { padding: 5px 0; }
.body .item_overview li {
  float: left;
  margin: 0 10px 0 0;
}
.body .item_overview li img { cursor: default; }
.contact dt input { width: 490px; }
.contact dt textarea { width: 490px; }
.welcome #right a {
  float: left;
  position: relative;
  width: 178px;
  height: 114px;
}
.welcome #right a strong {
  position: absolute;
  width: 148px;
  top: 10px;
  left: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 3px;
}
body.admin .skills {
  float: right;
  width: 200px;
}
body.admin .skills label { display: block; }
body.admin .skills h2 { padding: 0 0 10px; }
body.works .meta {
  background-image: none;
  padding: 25px 15px 15px;
}
body.works .meta h2 {
  font-size: 20px;
  line-height: 34px;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
}
body.works .meta p { padding: 0; }
body.works .meta .agency {
  float: right;
  display: block;
  text-indent: -9999em;
  font-size: 0.1em;
  margin: 0 5px 0 0;
}
body.works .meta .agency_bkwld {
  background: url('../images/agencies/bkwld.png') no-repeat;
  width: 100px;
  height: 22px;
}
body.works .meta .agency_jeff-doe-design {
  background: url('../images/agencies/jeffdoe.png') no-repeat;
  width: 93px;
  height: 15px;
}
body.works .meta .agency_31three {
  background: url('../images/agencies/31three.png') no-repeat;
  width: 101px;
  height: 15px;
}
body.works .skills { padding: 10px 0; }
body.works .skills .skill {
  float: left;
  background: #555555;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 4px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body.works .item a strong {
  margin: 5px 0 0;
  width: 173px;
}
body.works .item a:hover strong {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.9))) !important;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)) !important;
}
body.works #listing {
  position: relative;
  padding: 10px 0 0 60px;
}
body.works #listing a img {
  padding: 2px;
  border: 1px solid #dddddd;
}
body.works #listing .item {
  float: left;
  width: 184px;
  padding: 0 50px 40px 0;
}
#sorting {
  font-size: 10px;
  padding: 25px 0 15px 40px;
}
#sorting li {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 3px 0 0;
}
#sorting li a {
  display: block;
  text-decoration: none;
  color: #666666;
  padding: 1px 6px;
}
#sorting li a:hover {
  background: #828282;
  border: 1px solid #727272;
  border-top-color: #5e5e5e;
  color: #ffffff;
  padding: 0 5px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#sorting li a.active {
  background: #828282;
  border: 1px solid #727272;
  border-top-color: #5e5e5e;
  color: #ffffff;
  padding: 0 5px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#right a strong {
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  width: 173px;
  padding: 5px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #222222;
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  border: 1px solid #000000;
}
.works .item strong {
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  width: 173px;
  padding: 5px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #222222;
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.9)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  border: 1px solid #000000;
}
#right a:active strong {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7))) !important;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) !important;
}
.works .item a:active strong {
  background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.7))) !important;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) !important;
}
#featured {
  width: 534px;
  height: auto !important;
  min-height: 343px;
  height: 343px;
  overflow: hidden;
}
#featured img { position: absolute; }
body.about #right {
  background: url('../images/content/about.jpg') no-repeat bottom right;
  position: relative;
  height: auto !important;
  min-height: 500px;
  height: 500px;
}
body.about .body {
  font-size: 16px;
  padding: 13px 25px 20px;
}
body.about .body p {
  padding: 7px 0;
  line-height: 26px;
}
body.about a.bkwld {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
body.about a.github {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
body.about a.gowalla {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
body.about a.twitter {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
body.about a.jquery {
  text-decoration: none;
  font-weight: bold;
  color: #00a7e5;
}
body.about a.fi { color: #000000; }
body.about a.github { color: #eea025; }
body.about a.gowalla { color: #435522; }
body.about a.lastfm { color: #ee3425; }
body.about a.jquery { color: #4082ae; }
body.about #dewskis {
  position: absolute;
  background: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 3px 0 0 3px;
}
#links {
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 0 !important;
}
#links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  color: #5a5a5a;
  font-weight: normal;
  padding: 9px 0 9px 32px;
}
#links li {
  background: #ededed url('../images/content/link_bg.gif') repeat-x top;
  border-top: 1px solid #dadada;
}
#links li:hover { background: #f5f5f5; }
#links li:active { background: #ededed url('../images/content/link_bg.gif') repeat-x bottom; }
#links li:first-child { border-top: 0; }
#links li.github a { background: url('../images/links/github.gif') no-repeat left center; }
#links li.lastfm a { background: url('../images/links/lastfm.gif') no-repeat left center; }
#links li.twitter a { background: url('../images/links/twitter.gif') no-repeat left center; }
