#dewskis{ :style => "display:none" }
.body
  %p I am a developer who does nothing but make websites work <span class="amp">&amp;</span> look their greatest, whether it be moving pixels around with <a href="http://jquery.com/" class="jquery">jQuery</a>, or just making sure they look pixel perfect.
  %p During the day I work at <a href="http://f-i.com" class="fi">Fi</a>, and once I come home I lurk the web for new and <a href="http://github.com/dewski" class="github">interesting things</a>.
  %p Whenever I am not coding, I am usually letting<br />everyone <a href="http://gowalla.com/users/garrett" class="gowalla">stalk me</a> or <a href="http://twitter.com/garrettb" class="twitter">follow me</a>.
  %p If you want to just get in <a href="/contact">contact</a> with me,<br />there's a form for that.
  %p#thirsty Now that you made it all the way down<br />to the bottom I only ask for you to<br /><a href="#" class="dewski">give me a Mountain Dew</a> to drink.
  %p#quenched{ :style => "display:none" } Ah, why thank you, now I can help you<br />through my <a href="/work">portfolio</a>.
  
- content_for :javascript do
  :plain
    $.preLoadImages('/images/content/about_dewski.jpg', '/images/content/dewski.gif');