- title "Contact"
- javascript 'contact'

.body
  :plain
    <form action="/contact" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="p1UFk1a/IUP6Ki3QOuKObMz7Y1686bMfdsaGMciHuz8=" /></div>
    <dl>
    <dd><label for="contact_name">Name</label></dd>
    <dt><input id="contact_name" name="contact[name]" size="30" type="text" /></dt>
    <dd><label for="contact_email">Email</label></dd>
    <dt><input id="contact_email" name="contact[email]" size="30" type="text" /></dt>
    <dd><label for="contact_body">Body</label></dd>
    <dt><textarea cols="40" id="contact_body" name="contact[body]" rows="20"></textarea></dt>
    <input id="contact_submit" name="commit" type="submit" value="Submit" />
    </dl>
    </form>